:root {
  --bg-color: #1a2a6c;
  --main-color: #8a2be2;
  --text-color: #f9f9f9;
  --second-color: rgb(44, 44, 44);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Playwrite DE Grund", cursive;
  user-select: none;
}

html {
  overflow-x: hidden;
}

body {
  background: linear-gradient(135deg, #5d3fd3, #8a2be2);
  color: var(--text-color);
  height: 100dvh;
  text-align: center;
}
h1 {
  margin-top: 1rem;
}

#joke-button {
  background-color: var(--second-color);
  filter: drop-shadow(2px 2px 7px rgba(0, 0, 0, 0.3));
  color: var(--text-color);
  text-shadow: 0 0 8px rgba(93, 63, 211, 0.7);
  border-radius: 5px;
  padding: 10px 10px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 3rem;
  user-select: none;
}

section {
  margin: 3rem auto;
  max-width: 65%;
  padding: 3rem;
  font-size: large;
  overflow-wrap: break-word;
  background-color: #f9f9f915;
  border-radius: 1rem;
  box-shadow: 0 2px 20px 0 rgba(47, 47, 48, 0.1);
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0.5rem;
  font-size: small;
  text-align: center;
}
